<div class="hero">

    <div class="header-section">

        <div class="home-icon-section">
            <img src="/icons/cookbook.png" class="recipe-icon">
            <a>Recipe Book</a>
        </div>

        <div class="menu-item">
            <a>Home</a>
            <a>All Recipes</a>
            <a>Favourites</a>
            <a>About Us</a>
        </div>

        <div class="icon-section">
            <mat-icon>search</mat-icon>
            <mat-icon>person</mat-icon>
        </div>

    </div>

    <div class="hero-content">

        <div class="hero-content-para">
            <h1>Easiest Way To Make Recipes</h1>
            <h1>Let's start cooking</h1>
            <p style="line-height: 1.8;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac tristique ex.
                Etiam est turpis, vehicula at ex et, aliquam sagittis magna. Fusce sit amet ante pretium, blandit ante
                ut, ornare nisl. Donec nisi libero, porta ut mi a, ornare ullamcorper odio. Nam suscipit congue lorem,
                non suscipit leo elementum ut. Quisque cursus pellentesque sodales. Cras elementum convallis nisi, sed
                tempus ante.</p>
            <button class="hero-btn">Explore Recipes</button>
        </div>

        <div class="hero-content-pic">
            <div class="hero-content-pic-container">


                <div class="hero-content-pic-container-content">

                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <div mat-card-avatar style="background-image:  url('/icons/girl.png');"
                                class="example-header-image"></div>
                            <mat-card-title>Mary John</mat-card-title>
                            <mat-card-subtitle><img src="/icons/star-filled.png" class="star-icon"><img
                                    src="/icons/star-filled.png" class="star-icon"><img src="/icons/star-filled.png"
                                    class="star-icon"><img src="/icons/star-filled.png" class="star-icon"><img
                                    src="/icons/half-star.png" class="star-icon"></mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                Maecenas sodales turpis at sagittis commodo. Sed metus orci, lobortis sed nunc non,
                                vulputate feugiat augue.
                            </p>
                        </mat-card-content>

                    </mat-card>

                </div>

                <div class="hero-content-pic-container-pic"><img src="/images/recipe5.jpg" class="hero-pic"></div>

            </div>
            <div class="hero-content-pic-container">

                <div class="hero-content-pic-container-content">

                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <div mat-card-avatar style="background-image:  url('/icons/boy.png');"
                                class="example-header-image"></div>
                            <mat-card-title>Dev Joseph</mat-card-title>
                            <mat-card-subtitle><img src="/icons/star-filled.png" class="star-icon"><img
                                    src="/icons/star-filled.png" class="star-icon"><img src="/icons/star-filled.png"
                                    class="star-icon"><img src="/icons/star-filled.png" class="star-icon"><img
                                    src="/icons/star-filled.png" class="star-icon"></mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                Maecenas sodales turpis at sagittis commodo. Sed metus orci, lobortis sed nunc non,
                                vulputate feugiat augue.
                            </p>
                        </mat-card-content>

                    </mat-card>
                </div>
                <div class="hero-content-pic-container-pic"><img src="/images/recipe1.jpg" class="hero-pic"></div>
            </div>

        </div>

    </div>

</div>


<div class="card-section">

    <div class="card-section-header">
        <div>
            <h1>Popular Recipes</h1>
            <p style="color:#868686">Our most trending recipes of the year</p>
        </div>
        <div>
            <p style="color:#2a5846;">See All</p>
        </div>

    </div>

    <div class="card-section-container">
        <div class="card-section-container-content">

            <div class="card" style="width: 18rem;">
                <img src="/images/recipe2.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/images/recipe2.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/images/recipe2.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/images/recipe2.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>

        </div>
        <div class="card-section-container-content">

            <div class="card" style="width: 18rem;">
                <img src="/images/recipe3.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/images/recipe3.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/images/recipe3.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/images/recipe3.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>

        </div>
    </div>


</div>

<div class="kitchen-pic">
    <div><img src="/images/kitchen2.jpg" style="width:100%; height: 300px;">
        <div>
            <mat-card class="kitchen-card-section" appearance="outlined">
                <mat-card-header>

                    <mat-card-title>Try our delicious recipes</mat-card-title>

                </mat-card-header>

                <mat-card-content>
                    <p>
                        Maecenas sodales turpis at sagittis commodo. Sed metus orci, lobortis sed nunc non,
                        vulputate feugiat augue.
                    </p>
                </mat-card-content>

            </mat-card>
        </div>
    </div>

</div>


<div class="review-section">
    <div>
        <h3>Customer Review On Our Recipes</h3>
    </div>
    <div class="review-section-content">
        <div>
            <mat-card class="review-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar style="background-image:  url('/icons/girl.png');"
                        class="example-header-image"></div>
                    <mat-card-title>Mary John</mat-card-title>
                    <mat-card-subtitle><img src="/icons/star-filled.png" class="star-icon"><img
                            src="/icons/star-filled.png" class="star-icon"><img src="/icons/star-filled.png"
                            class="star-icon"><img src="/icons/star-filled.png" class="star-icon"><img
                            src="/icons/half-star.png" class="star-icon"></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/images/recipe5.jpg" alt="Recipe Photo"
                    style="width:100%; height: 200px; object-fit: cover; ">
                <mat-card-content>
                    <p>
                        Maecenas sodales turpis at sagittis commodo. Sed metus orci, lobortis sed nunc non, vulputate
                        feugiat augue.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="review-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar style="background-image:  url('/icons/girl.png');"
                        class="example-header-image"></div>
                    <mat-card-title>Mary John</mat-card-title>
                    <mat-card-subtitle><img src="/icons/star-filled.png" class="star-icon"><img
                            src="/icons/star-filled.png" class="star-icon"><img src="/icons/star-filled.png"
                            class="star-icon"><img src="/icons/star-filled.png" class="star-icon"><img
                            src="/icons/half-star.png" class="star-icon"></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/images/recipe5.jpg" alt="Recipe Photo"
                    style="width:100%; height: 200px; object-fit: cover; ">
                <mat-card-content>
                    <p>
                        Maecenas sodales turpis at sagittis commodo. Sed metus orci, lobortis sed nunc non, vulputate
                        feugiat augue.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

        </div>

        <div>
            <mat-card class="review-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar style="background-image:  url('/icons/boy.png');" class="example-header-image">
                    </div>
                    <mat-card-title>Dev Joseph</mat-card-title>
                    <mat-card-subtitle><img src="/icons/star-filled.png" class="star-icon"><img
                            src="/icons/star-filled.png" class="star-icon"><img src="/icons/star-filled.png"
                            class="star-icon"><img src="/icons/star-filled.png" class="star-icon"><img
                            src="/icons/star-filled.png" class="star-icon"></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/images/recipe5.jpg" alt="Recipe Photo"
                    style="width:100%; height: 200px; object-fit: cover; ">
                <mat-card-content>
                    <p>
                        Maecenas sodales turpis at sagittis commodo. Sed metus orci, lobortis sed nunc non, vulputate
                        feugiat augue.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="review-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar style="background-image:  url('/icons/boy.png');" class="example-header-image">
                    </div>
                    <mat-card-title>Dev Joseph</mat-card-title>
                    <mat-card-subtitle><img src="/icons/star-filled.png" class="star-icon"><img
                            src="/icons/star-filled.png" class="star-icon"><img src="/icons/star-filled.png"
                            class="star-icon"><img src="/icons/star-filled.png" class="star-icon"><img
                            src="/icons/star-filled.png" class="star-icon"></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/images/recipe5.jpg" alt="Recipe Photo"
                    style="width:100%; height: 200px; object-fit: cover; ">
                <mat-card-content>
                    <p>
                        Maecenas sodales turpis at sagittis commodo. Sed metus orci, lobortis sed nunc non, vulputate
                        feugiat augue.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

        </div>

        <div>
            <mat-card class="review-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar style="background-image:  url('/icons/girl.png');"
                        class="example-header-image"></div>
                    <mat-card-title>Mary John</mat-card-title>
                    <mat-card-subtitle><img src="/icons/star-filled.png" class="star-icon"><img
                            src="/icons/star-filled.png" class="star-icon"><img src="/icons/star-filled.png"
                            class="star-icon"><img src="/icons/star-filled.png" class="star-icon"><img
                            src="/icons/half-star.png" class="star-icon"></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/images/recipe5.jpg" alt="Recipe Photo"
                    style="width:100%; height: 200px; object-fit: cover; ">
                <mat-card-content>
                    <p>
                        Maecenas sodales turpis at sagittis commodo. Sed metus orci, lobortis sed nunc non, vulputate
                        feugiat augue.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="review-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar style="background-image:  url('/icons/girl.png');"
                        class="example-header-image"></div>
                    <mat-card-title>Mary John</mat-card-title>
                    <mat-card-subtitle><img src="/icons/star-filled.png" class="star-icon"><img
                            src="/icons/star-filled.png" class="star-icon"><img src="/icons/star-filled.png"
                            class="star-icon"><img src="/icons/star-filled.png" class="star-icon"><img
                            src="/icons/half-star.png" class="star-icon"></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/images/recipe5.jpg" alt="Recipe Photo"
                    style="width:100%; height: 200px; object-fit: cover; ">
                <mat-card-content>
                    <p>
                        Maecenas sodales turpis at sagittis commodo. Sed metus orci, lobortis sed nunc non, vulputate
                        feugiat augue.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>


        </div>



    </div>

</div>

<div class="footer-section">

    <div class="footer-section-content">
        <div  class="home-icon-section">
        <img src="/icons/cookbook.png" class="recipe-icon">
        <a>Recipe Book</a>
    </div>
    <div>
        <p>Discover all new recipes in your hand. Find easiest way to cook. 
            Sint pariatur in aliqua dolore. Duis velit culpa sit sint sit. Fugiat veniam cupidatat dolor quis ea ut tempor tempor.</p>
    </div>
       
    </div>


    <div class="footer-section-link">

     <div>
        <h6>Menu</h6>
   
     </div>

     <div>
       <h6>Contact</h6>
     </div>

     <div> 
       <h6>Social</h6> 
    </div>

    </div>


</div>