<div class="hero">

    <div class="header-section">

        <div class="home-icon-section">
            <img src="/icons/cookbook.png" class="recipe-icon">
            <a>Recipe Book</a>
        </div>

        <div class="menu-item">
            <a>Home</a>
            <a>All Recipes</a>
            <a>Favourites</a>
            <a>About Us</a>
        </div>

        <div class="icon-section">
            <mat-icon>search</mat-icon>
            <mat-icon>person</mat-icon>
        </div>

    </div>

    <div class="hero-content">

        <div class="hero-content-para">
            <h1>Easiest Way To Cook</h1>
          <h1>Let's start cooking</h1>
          <p style="line-height: 1.8;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac tristique ex. Etiam est turpis, vehicula at ex et, aliquam sagittis magna. Fusce sit amet ante pretium, blandit ante ut, ornare nisl. Donec nisi libero, porta ut mi a, ornare ullamcorper odio. Nam suscipit congue lorem, non suscipit leo elementum ut. Quisque cursus pellentesque sodales. Cras elementum convallis nisi, sed tempus ante.</p>
          <button class="hero-btn">Explore Recipes</button>
        </div>

        <div class="hero-content-pic">
            <div class="hero-content-pic-one"><img src="/images/recipe4.jpg" class="hero-pic-small"></div>
           <div class="hero-content-pic-two"><img src="/images/recipe1.jpg" class="hero-pic"></div> 
        </div>

        <div></div>
    </div>


</div>